<!DOCTYPE html>
<html lang="de" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Teamcontrol{% endblock %}</title>

    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon-128x128.png') }}">

    {% block javascripts %}
        {{ importmap('app') }}
    {% endblock %}
</head>
<body>

<header>
    {% include 'partials/_navigation.html.twig' %}
    {% include 'partials/_race_header.html.twig' %}
</header>

<main class="tc-main">
    <div class="container-fluid px-0">
        {% include 'partials/_messages.html.twig' %}
        {% block body %}{% endblock %}
    </div>
</main>

<footer class="tc-footer">
    {% include 'partials/_footer.html.twig' %}
</footer>

</body>
</html>
