{% extends 'base.html.twig' %}

{% block title %}{{ race.name }} bearbeiten{% endblock %}

{% block body %}

    <div class="tc-page-header">
        <h1>Rennen <span>bearbeiten</span></h1>
        <a href="{{ path('race_settings', {id: race.id}) }}" class="btn-tc-outline">
            <i class="bi bi-arrow-left me-1"></i>Zurück
        </a>
    </div>

    <div class="row">
        <div class="col-lg-8">
            {% include 'race/_form.html.twig' with {
                action: path('race_update', {id: race.id})
            } %}
        </div>
    </div>

{% endblock %}
